<div class="card">
    <div class="card-divider title-home">
        <p class="title-text">{{title}}</p>
        <p class="timestamp">Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="card-section content">
        <p class="content-text">{{post_text}}</p>
    </div>
</div>